@import url("https://fonts.googleapis.com/css2?family=Neucha&display=swap");

html {
  background-color: #000000;
}

.navbutton {
  background: linear-gradient(
    140deg,
    #1b1b1b 0%,
    #232323 36%,
    #2a2a2a 66%,
    #323232 100%
  );
}
.webbg {
  background: rgb(41, 41, 41);
  background: linear-gradient(0deg, rgb(29, 29, 29) 0%, rgba(0, 0, 0, 1) 100%);
}

h-screen.w-full {
  background-color: transparent;
}

.bg-quick {
  background-color: #000000;
}
.bg-quick2 {
  background-color: #050017;
}

.features1 {
  background: linear-gradient(
    -27deg,
    #1b1b1b 0%,
    #232323 36%,
    #2a2a2a 66%,
    #323232 100%
  );
}
.features2 {
  background: linear-gradient(-27deg, #242424 0%, #515151 57%, #737373 100%);
}

.features3 {
  background: rgb(20, 20, 20);
  background: linear-gradient(160deg, #10052c 0%, #500d6a 100%);
}
.features4 {
  background: rgb(20, 20, 20);
  background: linear-gradient(160deg, #1e0a52 0%, #6d1490 100%);
}

.formcolor {
  background-color: #3c0045;
}
.imgbg {
  background-image: url("robot2.png");
  background-repeat: no-repeat;
  background-color: rgb(20, 20, 20); /* Ensure transparency */
  background-size: cover;
}

.bg-form {
  background-color: rgba(5, 0, 23, 0.9);
}

.bg-footer {
  background-color: rgb(29, 29, 29);
}
.test {
  border-radius: 25% 10%;
}
