@import url("https://fonts.googleapis.com/css2?family=Neucha&display=swap");

.bg-color {
  background-image: "url('https://cdn.discordapp.com/attachments/793807164291416064/1313238383589593199/file-98MfAgREHjapFFtZ2CMz3j.png?ex=674f680d&is=674e168d&hm=314f8322c7fa3504e814b752605ebe1cfeae1840cc118d3cd104aa069ff6938f&')";
}

h1,
p {
  font-family: "Neucha", cursive;
}

.navbutton {
  background: rgb(235, 243, 232);
  background: linear-gradient(
    270deg,
    rgba(235, 243, 232, 1) 0%,
    rgba(92, 96, 92, 1) 0%,
    rgba(70, 73, 70, 1) 0%,
    rgba(49, 51, 49, 1) 0%,
    rgba(42, 44, 42, 1) 0%,
    rgba(18, 18, 18, 1) 64%,
    rgba(0, 0, 0, 1) 100%
  );
}
