@import url("https://fonts.googleapis.com/css2?family=Neucha&display=swap");
html {
  background-color: #000000;
}

.navbutton {
  background: linear-gradient(
    140deg,
    #1b1b1b 0%,
    #232323 36%,
    #2a2a2a 66%,
    #323232 100%
  );
}
.webbg {
  background: rgb(41, 41, 41);
  background: linear-gradient(0deg, rgb(29, 29, 29) 0%, rgba(0, 0, 0, 1) 100%);
}

h-screen.w-full {
  background-color: transparent;
}

.bg-quick {
  background-color: #000000;
}
.bg-quick2 {
  background-color: #050017;
}

.features1 {
  background: linear-gradient(
    -27deg,
    #1b1b1b 0%,
    #232323 36%,
    #2a2a2a 66%,
    #323232 100%
  );
}
.features2 {
  background: linear-gradient(-27deg, #242424 0%, #515151 57%, #737373 100%);
}

.features3 {
  background: rgb(20, 20, 20);
  background: linear-gradient(160deg, #10052c 0%, #500d6a 100%);
}
.features4 {
  background: rgb(20, 20, 20);
  background: linear-gradient(160deg, #1e0a52 0%, #6d1490 100%);
}

.formcolor {
  background-color: #3c0045;
}
.imgbg {
  background-image: url("robot2.png");
  background-repeat: no-repeat;
  background-color: rgb(20, 20, 20); /* Ensure transparency */
  background-size: cover;
}

.bg-form {
  background-color: rgba(5, 0, 23, 0.9);
}

.bg-footer {
  background-color: rgb(29, 29, 29);
}
.border-form {
  @media screen and (min-width: 1000px) {
    border-radius: 25% 10%;
  }
}
.cross {
  position: relative;
}

.cross::before,
.cross::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 3px;
  background-color: rgb(168, 167, 167);
  transform: translate(-50%, -50%) rotate(45deg);
  transform-origin: center;
}

.cross::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.userid {
  color: #4e4d4d;
}
.useremail {
  color: #cac5c5;
}
.usergradient {
  background: linear-gradient(60deg, #0e0e0e, #232323);
}
.userlvl {
  background: linear-gradient(to right, #dba1db, #36d6f7);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.userlvl1 {
  background: linear-gradient(to left, #dba1db, #36d6f7);
}
.userlvl2 {
  background: linear-gradient(to left, #ad17ad, #87c5d2);
}

.usertask {
  color: rgba(255, 255, 255);
}
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 1s ease-in-out;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  0%,
  100% {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

.typing-animation {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid white;
  animation: typing 3s steps(30, end), blink 1s step-end infinite;
}
.bgplanet {
  background-image: url("test.jpg");
  background-repeat: no-repeat;
  background-color: rgb(20, 20, 20); /* Ensure transparency */
  background-size: cover;
  background-position: center;
}
